[Unit]
Description=WSGI server for Holberton AirBnB clone dynamic content
After=network.target

[Service]
DynamicUser=yes
WorkingDirectory=/data/current
ExecStart=/usr/local/bin/gunicorn -b 0.0.0.0:5003 -w 3 --access-logfile /tmp/airbnb-access.log --error-logfile /tmp/airbnb-error.log web_dynamic.2-hbnb:app

[Install]
WantedBy=multi-user.target
